#!/usr/bin/env bash
# {{ ansible_managed }}
SCRIPT_PATH=$(readlink -f \"$0\")
LAST_KERNEL=$(rpm -q --last kernel | awk 'NR==1{sub(/kernel-/,""); print $1}')
CURRENT_KERNEL=$(uname -r)

if [ {{ auto_boot }} == True ]
then
    if [ "$LAST_KERNEL" != "$CURRENT_KERNEL" ]
    then
        echo $SCRIPT_PATH": Kernel is NOT newest version."
        echo $SCRIPT_PATH": Rebooting!"
        /usr/sbin/reboot
    else 
        echo $SCRIPT_PATH": Kernel is newest version."
        exit 0
    fi
else
    echo $SCRIPT_PATH": Automatic reboot is turned OFF."
    exit 0
fi
exit 0
