#!/usr/bin/env bash
# {{ ansible_managed }}
_YUM=$(whereis yum | awk '{print $2}')
_ECHO=$(whereis echo | awk '{print $2}')

$_YUM {{ yum_update_yum }}
$_YUM {{ yum_update_cmd }}

if {{ exit_check }} 
then 
    $_ECHO '1' > {{ flagfile }}
else
    echo "Yum exited with error code "$? >> {{ logfile }}
fi

exit 0


